#transform { margin: 50px;}
#transform2 { margin: 50px;}
img {
	width: 300px;
	height: 300px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	float: left;
	margin: 20px;
}

ul li:not(:last-child) {
	margin-right: 0;
}

.slide-wrap {
	width: 660px;
	height: 340px;
	border: 1px solid;
	position: relative;
 	overflow: hidden; 
}

.slide {
	position: absolute;
	width: 1620px;
	height: 240px;
}